input,textarea {
  width: 100%;
}
table {
  -webkit-print-color-adjust:exact;
  background:#fcfcfc;
  border-collapse: collapse;
  font-family: sans-serif;
}
table td,table th {
  color:#333;
  font-weight:700;
  border:0.2em solid black;
  text-align: center;
  box-sizing: border-box;
  width: 55px;
  height: 50px;
}
table th {
  background:#ddd
}
table td.picked {
  background:darkcyan;
  color:aqua;
}
table td.free {
  background:lightgreen;
  color:darkgreen;
  font-size: 0.7em;
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}